
*{margin:0;padding:0;}
html,body,div,input,h1,h2,h3,h4,h5,h6,p{font-size:100%;font-weight: normal;font-family: Helvetica;}
.clearfix{*zoom:1;}
.clearfix:after{
	display:table;
	content:'';
	clear: both;
	line-height:0;
}
.fr{float:right;}
.fl{float:left;}
a{color:#0088cc;text-decoration: none;}