<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <style>
        div{
            margin:  50px auto;
        }
        table{
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <table width="" border="2px ">
              <tr height="60px">
                  <td width="150px">商品名称</td>
                  <td width="250px">商品图片</td>
                  <td width="150px">商品数量</td>
                  <td width="100px">商品价格</td>
                  <td width="100px">操作</td>
                  <td width="100px">总价</td>

              </tr>

              <tr v-for="(item,index) in list">
                  <td>{{ item.name }}</td>
                  <td><img :src="item.imgurl" width="250px" alt=""></td>
                  <td>{{item.number}}</td>
                  <td>{{ item.price }}</td>
                  <td>
                      <button  @click="add(item)">+</button>
                      <button v-if="item.number == 0 ? false:true"  @click="sub(item)">-</button>
                  </td>
                  <td>
                      {{ item.number * item.price }}
                  </td>
              </tr>
          </table>
    </div>
</body>
</html>
<script>
    new Vue({
        el:'#app',
        data:{
            list:[{
                name: 'Air force one',
                imgurl: '../images/air-force-1-.jpg',
                number: '0',
                price: '699',
            },
            {
                name: 'Air Jordan 11',
                imgurl: '../images/air-jordan-11.jpg',
                number: '0',
                price: '1899',
            },
            {
                name: 'Kd12',
                imgurl: '../images/zoom-kd12-.jpg',
                number: '0',
                price: '1699',
            },
            {
                name: 'Kari oven7',
                imgurl: '../images/custom-kyrie-7.jpg',
                number: '0',
                price: '1299',
            }],
            show:true,
            array:[],
            imgurl:''
        },
        methods:{
            add: function(item){
                item.number++
            },
            sub:function(item){
                item.number--
            }
        }
    })
</script>